* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/** Fonts */
.f-logo {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
}

.f-listLink,
.item h4,
.content-feadback,
.item,
.footer {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
}

.f-contentHeader,
.container-hello h2 {
    font-family: "Source Code Pro", sans-serif;
}

.f-contentHeader h1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 77px;
}

.f-contentHeader p {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

#pwd {
    font-weight: 100;
    font-size: 20px;
    line-height: 31px;
}

/*& ----------------------------*/
.container {
    width: 61%;
    margin: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.text-center {
    text-align: center;
}

img {
    width: 100%;
}

/** Float || Display*/
.f-left {
    float: left;
}

.f-right {
    float: right;
}

.clear {
    clear: both;
}

.d-inline-block {
    display: inline-block;
}




/*& ====================== */
/*& ---- Animation ---- **/
/*
.container-anim div {
    display: inline-block;
}

.container-anim {
    top: 55%;
    left: 37%;
    width: 500px;
    position: absolute;
}

#pwd {
    color: white;
    font-weight: 400;
    animation: transform_Text 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.text span {
    animation: hidden_Span 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#OR {
    text-align: left;
    font-size: 30px;
    animation: left_OR 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes hidden_Span {
    100% {
        opacity: 0;
    }
}

@keyframes transform_Text {
    10% {
        transform: translateX(0%);
    }

    100% {

        transform: translateX(37%);
    }
}

@keyframes left_OR {
    10% {
        width: 0px;
    }

    100% {
        width: 100px;
    }
}

*/